.contenedor{
    
    margin: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 20px 20px rgb(165, 165, 165) ;
    border-radius: 3%;
    padding: 2% 8% 2% 4%;
}