<div class="back" [routerLink]="['/menu']">
    <img src="../../../../assets/back.png" alt="GoBack">
</div>

<div class="contacto">
    <div class="cont1">
        <h1>Linkedin</h1>
        <a href="https://www.linkedin.com/in/lucas-facundo-zylinski-6a414716a/" target="_blank"><img
                src="../../../../assets/linkedin.png" alt="linkedin" ></a>
    </div>
    <div class="cont1">
        <h1>Mail</h1>
        <a href="mailto:facuzylinski@gmail.com?Subject=Solicitud%20de%20Empleo" target="_blank"><img
                src="../../../../assets/mail.png" alt="mail" ></a>
    </div>
</div>