<div class="cont">

    <div class="contenedor">
        <ul>
            <li><a [routerLink]="['/Works']"  data-text="Works">Works</a></li>
            <li><a [routerLink]="['/Studies']" data-text="Studies">Studies</a></li>
            <li><a [routerLink]="['/AboutMe']" data-text="AboutMe">About Me</a></li>
            <li><a [routerLink]="['/Contact']" data-text="Contact">Contact</a></li>
            <li><a href="../../../../assets/CVLucasZylinski.pdf" download="Resume.pdf" data-text="Resume">Resume</a></li>
    
        </ul>
    
    </div>
</div>