<div class="back" [routerLink]="['/Works']">
    <img src="../../../../assets/back.png" alt="GoBack">
</div>


<div class="contenedor1">
    <img src="../../../../../assets/accenture.png" alt="UAI">
    <p>I worked at Accenture from July 2022 to September 2022. <br> I was in the Cybersecurity area, more specifically SOC. It was the first job I did night shift from 1 am to 10 am. I took several cybersecurity courses, and the tasks to be carried out were monitoring and analysis of alerts. </p>
</div>