<div class="back" [routerLink]="['/menu']">
    <img src="../../../../assets/back.png" alt="GoBack">
</div>

<div class="cards">
    <div class="card" [routerLink]="['/Uni']">
        <img class="img2"  src="../../../../assets/uailogo.jpg" />
        <div class="card-info">
            <h2>UAI</h2>
            
        </div>
         
       
    </div>
    <div class="card" [routerLink]="['/School']">
        <img class="img2" src="../../../../assets/sanjoaquin.jpg"/>
        <div class="card-info">
            <h2>San Joaquin</h2>
           
            
        </div>
        
        
    </div>
    <div class="card" [routerLink]="['/Educacionit']">
        <img class="img2" src="../../../../assets/educacionit.png"/>
        <div class="card-info">
            <h2>EducacionIT</h2>
            
        </div>
        
        
    </div>
    
</div>