<div class="back" [routerLink]="['/Works']">
    <img src="../../../../assets/back.png" alt="GoBack">
</div>


<div class="contenedor1">
    <img src="../../../../../assets/twireless.jpg" alt="Twireless">
    <br><br><br>   
    <p>At Fonoglobal I worked from October 2019 to May 2021. <br> It is a telecommunications company, and I held the role of Technician in electronics and telecommunications. <br> My main activities to develop were:<li>Technical support to customers.</li> <li>Equipment maintenance and configuration.</li> <li>Coordination, supervision and assistance to technicians.</li></p>
</div>