
<div class="back" [routerLink]="['/Studies']">
    <img src="../../../../assets/back.png" alt="GoBack">
</div>


<div class="contenedor1">
    <img src="../../../../../assets/educacionit.png" alt="EducacionIT">
    <p>
        Complete the Full Stack Web Developer and Node.js Developer careers at the EducacionIT academy
        <br><br>
        Then I will teach you certain knowledge acquired in this institution: 
    </p>
</div>
<div class="contenedor2">
    <img src="https://static.educacionit.com/alumni/assets/course/268.svg" alt="c#">
    <img src="https://static.educacionit.com/alumni/assets/course/543.svg" alt="c#">
    <img src="https://static.educacionit.com/alumni/assets/course/579.svg" alt="c#">
    <img src="https://static.educacionit.com/alumni/assets/course/587.svg" alt="c#">
    <img src="https://static.educacionit.com/alumni/assets/course/542.svg" alt="c#">
</div>