
<div class="back" [routerLink]="['/Studies']">
    <img src="../../../../assets/back.png" alt="GoBack">
</div>


<div class="contenedor1">
    <img src="../../../../../assets/uai.png" alt="UAI">
    <p>In 2020, I began studying at the "Inter-American Open University" in the university career of Computer Systems Engineering. This career consists of 5 years and an intermediate title of
        Systems Analyst. <br>  I am currently finishing the third year of my degree, with 25 subjects passed and an average of 8. <br><br>
        Then I will teach you certain knowledge acquired in this institution: </p>
</div>
<div class="contenedor2">
    <img src="../../../../../assets/progC.png" alt="c#">
    <img src="../../../../../assets/c++.png" alt="c++">
    <img src="../../../../../assets/python.jpg" alt="python">
    <img src="../../../../../assets/sql.png" alt="sql">
    <img src="../../../../../assets/agilemethod.png" alt="agilemethod">
</div>